body {
  background: #419ceb;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
}

.heading {
  font-size: 60px;
  letter-spacing: 3px;
  font-weight: normal;
  color: #fff;
  text-shadow: 1px 1px 10px #045194;
}

.text-one,
.text-two {
  color: #fff;
}

.text-one {
  font-size: 30px;
  margin-top: 30px;
}

.text-two {
  font-size: 20px;
  margin-top: 80px;
}

.btn-primary {
  background: #000;
  border: #000;
}
